<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <h1 class="logo">W</h1>
    <p class="designation">Wallet</p>

    <ul class="menu-list">
      <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon class="icon-content-space">info</mat-icon>
        <a routerLink="/dashboard" >DashBoard</a>
      </li>

      <li class="menu-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/wallet" routerLinkActive="active">Wallet</a>
      </li>

      <li class="menu-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/transaction" routerLinkActive="active">Transaction</a>
      </li>

      <li class="menu-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/cashback" routerLinkActive="active">Cashback</a>
      </li>

      <li class="menu-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/payments" routerLinkActive="active">Payments</a>
      </li>

      <li class="menu-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/investments" routerLinkActive="active">Investments</a>
      </li>

      <li class="menu-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>

      <li class="menu-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/support" routerLinkActive="active">Support</a>
      </li>

    </ul>

    <mat-divider></mat-divider>

    <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon class="icon-content-space">info</mat-icon>
        <a routerLink="/setting" >Setting</a>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item">
          <mat-icon class="icon-content-space">info</mat-icon>
          <a routerLink="/logout" >Logout</a>
        </li>

    <mat-slide-toggle [(ngModel)]="isChecked">
      <span class="white-text">switch to light</span>
    </mat-slide-toggle>

  </mat-sidenav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>