<mat-sidenav-container >
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-side-nav' : 'dark-bg-side-nav'">

    <div class="sidenav_header">
      <span class="logo">W</span>
      <span class="logo-text">Wallet</span>
    </div>

    <ul class="menu-list">
      <li routerLink="/dashboard" [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="squares-2x2"></mat-icon>
        <a routerLink="/dashboard">DashBoard</a>
      </li>

      <li routerLink="/wallet" [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="wallet"></mat-icon>
        <a routerLink="/wallet">Wallet</a>
      </li>

      <li routerLink="/transaction" [routerLinkActive]="['active']" class="menu-item items-center">
        <mat-icon svgIcon="arrows-right-left"></mat-icon>
        <a routerLink="/transaction">Transaction</a>

        <div class="flex items-center ml-auto mr-5 ">
          <div class="bg-gray-600 text-white rounded-full p-1"> 27 </div>
        </div>
      </li>

      <li routerLink="/cashback" [routerLinkActive]="['active']" class="menu-item items-center">
        <mat-icon svgIcon="circle-stack"></mat-icon>
        <a >Cashback</a>

        <div class="flex items-center ml-auto mr-5 ">
          <div class=" bg-gray-600 text-white rounded-full p-1"> 27 </div>
        </div>
      </li>

      <li routerLink="/payments" [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="currency-dollar"></mat-icon>
        <a >Payments</a>
      </li>

      <li routerLink="/investments" [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="arrow-trending-up"></mat-icon>
        <a >Investments</a>
      </li>

      <li routerLink="/profile" [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="user"></mat-icon>
        <a >Profile</a>
      </li>

      <li routerLink="/support" [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="chat-bubble-oval-left"></mat-icon>
        <a >Support</a>
      </li>

    </ul>

    <mat-divider></mat-divider>

    <li routerLink="/setting" [routerLinkActive]="['active']" class="menu-item">
      <mat-icon svgIcon="cog"></mat-icon>
      <a >Setting</a>
    </li>

    <li routerLink="/logout" [routerLinkActive]="['active']" class="menu-item">
      <mat-icon svgIcon="arrow-right-on-rectangle"></mat-icon>
      <a >Logout</a>
    </li>

    <mat-slide-toggle [(ngModel)]="isChecked" (change)="toggleTheme()" >
      <span [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-side-nav' : 'dark-bg-side-nav'">switch to light</span>
    </mat-slide-toggle>

  </mat-sidenav>

  <div class="main-content" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-main-content' : 'dark-bg-main-content'">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>