<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <div class="sidenav_header">
      <span class="logo">W</span>
      <span class="logo-text">Wallet</span>
    </div>

    <ul class="menu-list">
      <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="squares-2x2"></mat-icon>
        <a routerLink="/dashboard">DashBoard</a>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="wallet"></mat-icon>
        <a routerLink="/wallet">Wallet</a>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item items-center">
        <mat-icon svgIcon="arrows-right-left"></mat-icon>
        <a routerLink="/transaction">Transaction</a>

        <div class="flex items-center ml-auto mr-5 ">
          <div class="bg-gray-600 text-white rounded-full p-1"> 27 </div>
        </div>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item items-center">
        <mat-icon svgIcon="circle-stack"></mat-icon>
        <a routerLink="/cashback">Cashback</a>

        <div class="flex items-center ml-auto mr-5 ">
          <div class=" bg-gray-600 text-white rounded-full p-1"> 27 </div>
        </div>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="currency-dollar"></mat-icon>
        <a routerLink="/payments">Payments</a>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="arrow-trending-up"></mat-icon>
        <a routerLink="/investments">Investments</a>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="user"></mat-icon>
        <a routerLink="/profile">Profile</a>
      </li>

      <li [routerLinkActive]="['active']" class="menu-item">
        <mat-icon svgIcon="chat-bubble-oval-left"></mat-icon>
        <a routerLink="/support">Support</a>
      </li>

    </ul>

    <mat-divider></mat-divider>

    <li [routerLinkActive]="['active']" class="menu-item">
      <mat-icon svgIcon="cog"></mat-icon>
      <a routerLink="/setting">Setting</a>
    </li>

    <li [routerLinkActive]="['active']" class="menu-item">
      <mat-icon svgIcon="arrow-right-on-rectangle"></mat-icon>
      <a routerLink="/logout">Logout</a>
    </li>

    <mat-slide-toggle [(ngModel)]="isChecked">
      <span class="white-text">switch to light</span>
    </mat-slide-toggle>

  </mat-sidenav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>