.main-container{

   .display-inline{
        display: inline;
    }

    .container {
        margin: 10px;
    }
      
    .item {
        border-radius: .2em;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 2em;
        padding: 4em 1em;
        text-transform: uppercase;
      }
      
}
