<div class="dashboard main-container">

    <div class="flex flex-col items-center justify-center lg:flex-row lg:justify-between ">
        <div class="header-title w-full p-4 text-left">
            <h1 class="mb-2 text-left">DashBoard</h1>
        </div>

        <div class="search-container-group flex flex-col items-center lg:flex-row sm:justify-center xs:w-full">
            <div class="search-container mb-2 lg:mb-0   py-3 px-3 pr-5" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <input type="search" id="searchInput1" name="searchInput1" placeholder="Search...">
                <mat-icon svgIcon="magnifying-glass" class="right-icon"></mat-icon>
            </div>

            <div class="search-container min-w-18 mb-2 w-full md:w-auto  py-3 px-3 pr-5 " [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <mat-icon svgIcon="business-woman" class="left-icon transform scale-110"></mat-icon>
                <input type="search" id="searchInput2" name="searchInput2" placeholder="Search...">
                <mat-icon svgIcon="envelope" class="right-left-icon"></mat-icon>
                <mat-icon class="right-icon" matBadge="5" matBadgePosition="above">notifications</mat-icon>
            </div>
        </div>
    </div>

    <div class="main-content">

        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 ">

            <!-- Start conversion to income-->
            <div class="justify-between flex-auto bg-card shadow rounded-2xl overflow-hidden" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Income</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                            <span class="opacity-50 text-sm text-secondary">This month</span>
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col lg:items-start mx-6">
                    <div class="text-lg font-bold tracking-tighter leading-tight">${{data.conversions.amount | number:'1.0-0'}}
                        <span class="text-sm">.47</span>
                    </div>
                    <div class="flex flex-row mt-5">
                        <mat-icon class="icon-size-5 text-blue-500" svgIcon="arrow-up-right"></mat-icon>
                        <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium text-blue-500">2%</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-auto">
                    <apx-chart class="flex-auto w-full " [chart]="chartConversions.chart" [colors]="chartConversions.colors" [series]="chartConversions.series"
                        [stroke]="chartConversions.stroke" [tooltip]="chartConversions.tooltip" [xaxis]="chartConversions.xaxis"
                        [yaxis]="chartConversions.yaxis"></apx-chart>
                </div>
            </div>

            <!-- //end of the conversion -->

            <!-- start conversion to expense -->

            <div class=" justify-between flex-auto bg-card shadow rounded-2xl overflow-hidden" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Expenses</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                            <span class="opacity-50 text-sm text-secondary">This month</span>
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col lg:items-start mx-6">
                    <div class="text-lg font-bold tracking-tighter leading-tight">{{data.conversions.amount | number:'1.0-0'}}
                        <span class="text-sm">.47</span>
                    </div>
                    <div class="flex flex-row mt-5">
                        <mat-icon class="icon-size-5 " svgIcon="arrow-down-right"></mat-icon>
                        <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium text-red-500">2%</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-auto">
                    <apx-chart class="flex-auto w-full h-full" [chart]="chartConversions.chart" [colors]="chartConversions.colors" [series]="chartConversions.series"
                        [stroke]="chartConversions.stroke" [tooltip]="chartConversions.tooltip" [xaxis]="chartConversions.xaxis"
                        [yaxis]="chartConversions.yaxis"></apx-chart>
                </div>
            </div>

            <!-- end converstion to expsense    -->

            <!--start conversion to investment -->

            <div class="justify-between flex-auto bg-card shadow rounded-2xl overflow-hidden" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Investment</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                            <span class="opacity-50 text-sm text-secondary">This month</span>
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col lg:items-start mx-6">
                    <div class="text-lg font-bold tracking-tighter leading-tight">${{data.conversions.amount | number:'1.0-0'}}
                        <span class="text-sm">.47</span>
                    </div>
                    <div class="flex flex-row mt-5">
                            <mat-icon class="icon-size-5 " svgIcon="arrow-up-right"></mat-icon>
                            <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                <span class="font-medium text-blue-500">2%</span>
                            </div>
                        </div>
                </div>
                <div class="flex flex-col flex-auto">
                    <apx-chart class="flex-auto w-full h-full" [chart]="chartConversions.chart" [colors]="chartConversions.colors" [series]="chartConversions.series"
                        [stroke]="chartConversions.stroke" [tooltip]="chartConversions.tooltip" [xaxis]="chartConversions.xaxis"
                        [yaxis]="chartConversions.yaxis"></apx-chart>
                </div>
            </div>

            <!-- end converstion to investment    -->


            <!-- start card design  -->

            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">My cards</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                            <span class="opacity-50 text-sm text-secondary">add card</span>
                        </button>
                    </div>


                </div>
                <div class="flex-shrink-0">
                    <!-- Fixed at the top, won't grow in height -->
                    <img class="w-full max-h-40 object-cover" src="assets/images/visa_card.png" alt="Card cover image">
                </div>
            </div>

        </div>

        <!-- end card design -->

        <!-- end of the first row design -->


        <!-- start of the second row design -->

        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 mt-4 ">

            <!-- start Revenue Analysis -->
            <div class="xs:col-span-12 sm:col-span-2 justify-between flex-auto bg-card shadow rounded-2xl overflow-hidden " [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Revenue Analysis</div>
                </div>

                <div class="flex flex-auto">
                    <apx-chart class="flex-auto w-full h-full" [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                        [yaxis]="chartOptions.yaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"></apx-chart>
                </div>
            </div>
            <!-- end revenuse Analysis -->


            <!-- start financial analysis line chart -->
            <div class=" flex-auto bg-card shadow rounded-2xl overflow-hidden w-full h-full" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">

                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Financial Analysis</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                            <span class="opacity-50 text-sm text-secondary">This month</span>
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col flex-auto  w-full h-full">
                    <apx-chart class="flex-auto w-full h-full" [series]="lineChartOptions.series" [chart]="lineChartOptions.chart" [dataLabels]="lineChartOptions.dataLabels"
                        [plotOptions]="lineChartOptions.plotOptions" [yaxis]="lineChartOptions.yaxis" [legend]="lineChartOptions.legend"
                        [fill]="lineChartOptions.fill" [stroke]="lineChartOptions.stroke" [tooltip]="lineChartOptions.tooltip"
                        [xaxis]="lineChartOptions.xaxis"></apx-chart>
                </div>
            </div>
            <!-- end start financial analysis line chart -->

            <!-- start table design for quick transfter -->

            <div class=" flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Quick transfers</div>
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        <span class="opacity-50">add</span>
                        <button mat-icon-button>
                            <mat-icon svgIcon="" class=" icon-size-5 text-hint"></mat-icon>
                        </button>
                    </div>

                </div>
                <div class="flex flex-col divide-y">
                    <ng-container *ngFor="let scheduleItem of quickTransfers.schedule['today']; trackBy: trackByFn">
                        <div class="flex flex-row items-center py-4 px-0.5">
                            <div class=" avatar-text  ">
                                <div class="text-center"> {{getAvatarText(scheduleItem.name)}}</div>
                            </div>
                            <div class="flex flex-col ml-6">
                                <div class="font-medium">{{scheduleItem.name}}</div>
                                <div class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">

                                    <ng-container *ngIf="scheduleItem.value">
                                        <div class="flex items-center">
                                            <div class="ml-1.5 text-md text-secondary">{{scheduleItem.value}}</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="flex items-center justify-end flex-grow">
                                <button mat-icon-button>
                                    <mat-icon svgIcon="" class="icon-size-5 text-hint"></mat-icon>

                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- end table design for quick transfter -->
            <!-- end of the second row -->

        </div>

        <!-- start of the third row -->
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4  mt-4 ">
            <!-- start donut chart options -->

            <div class="justify-between bg-card shadow rounded-2xl overflow-hidden " [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Expenses</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                            <span class="font-medium text-sm text-secondary">30 days</span>
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col flex-auto w-full p-100">
                    <apx-chart class="flex-auto w-full h-full" [series]="donutChartOptions.series" [chart]="donutChartOptions.chart" [labels]="donutChartOptions.labels"
                        [fill]="donutChartOptions.fill" [dataLabels]="donutChartOptions.dataLabels" [responsive]="donutChartOptions.responsive"></apx-chart>

                </div>
            </div>

            <!-- end donut chart options -->

            <!-- start table design Investment-->

            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Transactions</div>
                </div>
                <div class="flex flex-col mt-2 divide-y">
                    <ng-container *ngFor="let scheduleItem of transaction.schedule['today']; trackBy: trackByFn">
                        <div class="flex flex-row items-center justify-between py-4 px-0.5">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <div class=" avatar-text  ">
                                        <div class="text-center">
                                            <mat-icon>notifications</mat-icon>
                                        </div>
                                    </div>


                                    <div class="ml-2 flex flex-col justify-center">
                                        <div class="font-medium">{{scheduleItem.title}}</div>

                                        <div class="text-md text-secondary">{{scheduleItem.location}}</div>

                                    </div>


                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>

            <!-- end table design -->

            <!-- start table design transaction -->

            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Investment</div>

                </div>
                <div class="flex flex-col mt-2 divide-y">
                    <ng-container *ngFor="let scheduleItem of transaction.schedule['today']; trackBy: trackByFn">
                        <div class="flex flex-row items-center justify-between py-4 px-0.5">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <div class=" avatar-text  ">
                                        <div class="text-center">
                                            <mat-icon>notifications</mat-icon>
                                        </div>
                                    </div>


                                    <div class="ml-2 flex flex-col justify-center">
                                        <div class="font-medium">{{scheduleItem.title}}</div>

                                        <div class="text-md text-secondary">{{scheduleItem.location}}</div>

                                    </div>


                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>

            <!-- end table design transaction -->


            <!-- Budget  to goals-->
            <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow" [ngClass]="getCurrentTheme() == 'light' ? 'light-bg-card-item' : 'dark-bg-card-item'">

                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Goals</div>
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                        <button class="opacity-50">
                            add goal
                            <mat-icon class="mt-3" svgIcon="" class=""></mat-icon>
                        </button>

                    </div>
                </div>
                <div class="my-8 space-y-8">
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class=" avatar-text  ">
                                <div class="text-center">
                                    <mat-icon>notifications</mat-icon>
                                </div>
                            </div>
                            <div class="flex-auto flex-col justify-center ml-4 leading-none">
                                <div class="flex sm:flex-col justify-between">
                                    <div class=" font-medium">Expenses</div>
                                    <div class="text-sm mt-2 font-medium ">{{finance.budget.expenses | currency:'USD'}}/$20000</div>
                                </div>
                                <mat-progress-bar class="mt-3 rounded-full" [color]="'warn'" [mode]="'determinate'" [value]="(finance.budget.expenses  * 100) / finance.budget.expensesLimit"></mat-progress-bar>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class=" avatar-text  ">
                                <div class="text-center">
                                    <mat-icon>notifications</mat-icon>
                                </div>
                            </div>
                            <div class="flex-auto ml-4 leading-none">
                                <div class="flex sm:flex-col justify-between">
                                    <div class="font-medium">Savings</div>
                                    <div class="text-sm mt-2 font-medium ">{{finance.budget.savings | currency:'USD'}}/$20000</div>
                                </div>
                                <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'" [value]="(finance.budget.savings  * 100) / finance.budget.savingsGoal"></mat-progress-bar>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class=" avatar-text  ">
                                <div class="text-center">
                                    <mat-icon>notifications</mat-icon>
                                </div>
                            </div>
                            <div class="flex-auto ml-4 leading-none">
                                <div class="flex sm:flex-col justify-between">
                                    <div class="font-medium ">Bills</div>
                                    <div class="text-sm mt-2 font-medium ">{{finance.budget.bills | currency:'USD'}}/$20000</div>
                                </div>
                                <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'" [value]="(finance.budget.bills  * 100) / finance.budget.billsLimit"></mat-progress-bar>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end Budget to Goals-->
        </div>

    </div>

</div>