  .light-bg-side-nav {
    background-color: #FFFFFF !important;
    color: #333333 !important;
  }

  .light-bg-main-content {
    background-color: #ede9e9 !important;
    color: #333333 !important;
  }

  .light-bg-card-item {
    background-color:#FFFFFF ;
  }
  
  .dark-bg-side-nav {
    background-color:#2c2351   !important;
    color:#FFFFFF !important;
  }

  .dark-bg-main-content {
    background-color: #392c6b !important;
    color:#FFFFFF !important;
  }

  .dark-bg-card-item {
  background-color:#56459e !important; 
  }

